.topNav {
  margin-left: 250px;
  background-color: #e3371e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.topNav h1 {
  margin: 0;
  margin-left: 40px;
  padding: 0.5em 0em;
  color: #f1f1f1;
}

.sideNavbar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151f30;
  overflow-x: hidden;
  padding-top: 30px;
}

.navItem {
  padding: 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.logoImage {
  width: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemImage {
  text-decoration: none;
  background-color: #f1f1f1;
  display: inline-block;
  padding: 0.25em;
  border-radius: 15px;
  margin-left: 30px;
  margin-bottom: 2em;
}

.navItem:hover {
  color: #e3371e;
}

.link {
  text-decoration: none;
}
