.topNav {
  box-sizing: border-box;
  margin-left: 250px;
  /* position: fixed; */
  top: 0;
  /* width: 100%; */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em 1em 0;
  background-color: white;
  margin-bottom: 2em;
}

.topNav h1 {
  margin: 0;
  margin-left: 40px;
  color: #151f30;
}

.sideNavbar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151f30;
  overflow-x: hidden;
  padding-top: 30px;
}

.navItem {
  padding: 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.logoImage {
  width: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemImage {
  text-decoration: none;
  background-color: #f1f1f1;
  display: inline-block;
  padding: 0.25em;
  border-radius: 15px;
  margin-left: 30px;
  margin-bottom: 2em;
}

.navItem:hover {
  color: #e3371e;
}

.link {
  text-decoration: none;
}

.btn {
  color: white;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #103778;
  border: none;
  transition-duration: 0.4s;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.btn:hover {
  background-color: #e3371e;
}
