.panel {
  padding: 3em 10em;
  border: 2px solid darkgrey;
  border-radius: 20px;
}

.content {
}

.panelContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.input {
  padding: 1.5em;
  max-width: 20em;
  border: 1px solid darkgrey;
  border-radius: 10px;
  font-size: 1rem;
}

.inputLogo {
  padding: 1.5em;
  width: 20em;
  border: 1px solid darkgrey;
  border-radius: 10px;
  font-size: 1rem;
}

.inputAction {
  display: flex;
  flex-direction: column;
}

.inputAction label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.logo {
  cursor: pointer;
  max-width: 4em;
}

.btn {
  color: white;
  padding: 1.5em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 16em;
  font-size: 1.2rem;
  margin: 2em 2px;
  cursor: pointer;
  background-color: #103778;
  border: none;
  transition-duration: 0.4s;
  border-radius: 100px;
}

.btnDelete {
  color: black;
  padding: 1.5em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 16em;
  font-size: 1.2rem;
  margin: 2em 2px;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #e3371e;
  transition-duration: 0.4s;
  border-radius: 100px;
}

.btn:hover {
  background-color: #151f30;
}

.btnDelete:hover {
  color: white;
  background-color: #e3371e;
}

.btnGroup {
  display: flex;
  gap: 1em;
}

.headerP {
  font-size: 1.5rem;
  margin: 0 0 1em 0;
  font-weight: 300;
}

.headerH2 {
  margin: 0.5em 0 0 0;
}
